@import url("./fonts/silk-serif-bold/stylesheet.css");

.attendee-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  max-width: 500px;
}

.attendee-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
  align-items: flex-start;
  text-align: left;
}

.form-hidden {
  display: none;
}

.attendee-name {
  width: 20vw;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.attendee-label {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5em;
  text-align: left;
}

.attendee-label input,
.attendee-label textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  min-width: 150px;
  text-align: left;
  color: grey;
  font-style: italic;
}

input,
textarea::placeholder {
  color: grey;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-align: left;
}

.attendee-label-cb {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0.5rem;
  text-align: left;
}

.autocar-label {
  display: flex;
  align-items: center;
}

.attendee-checkbox {
  background: white;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-radius: 0px;
  border-style: none;
  margin-right: 0.5rem;
}

.autocar-checkbox {
  background: white;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-style: none;
  border-radius: 0px;
}

.attendee-input {
  font-size: 0.8rem;
  width: 100%;
  height: 5rem;
  border: 0;
  text-align: left;
  display: block;
}

.autocar-list {
  width: 7vw;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
}

.autocar-line {
  height: 50%;
  border-bottom: 2px solid #434142;
  border-left: 2px solid #434142;
  width: 25%;
}

.autocar-icon {
  width: 5rem;
}

.sad-face {
  width: 1.75rem;
  margin: 0 0.35rem;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  width: 3rem;
}

.arrow-right {
  width: 3rem;
  transform: rotate(180deg);
}

.submit-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  word-break: keep-all;
}

.submit-btn {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: 5px solid #00cf70;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
  width: 80px;
  min-width: 80px;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

.submit-btn:hover {
  background-color: #00cf70;
  border: 5px solid #00cf70;
  cursor: pointer;
  width: 80px;
  font-weight: 600;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  word-break: keep-all;
  text-align: center;
  border-radius: 10px;
}

.error-msg {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.success {
  font-family: "Montserrat", sans-serif;
  width: 10vw;
  min-width: 100px;
  height: auto;
  margin: 1rem 0;
  background-color: #fefacb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0.5rem;
}

textarea {
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .submit-btn {
    width: 80px;
    color: black;
    min-width: 80px;
    font-size: 0.7rem;
    margin-top: 2rem;
    word-break: keep-all;
    align-self: flex-end;
    border-radius: 10px;
  }

  .submit-btn:hover {
    width: 80px;
    min-width: 80px;
    font-size: 0.7rem;
    background-color: #00cf70;
    border: 5px solid #00cf70;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    word-break: keep-all;
    text-align: center;
    align-self: flex-end;
    border-radius: 10px;
  }

  .conf-open {
    width: 35vw;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .attendee-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 500px;
  }

  .attendee-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .attendee-name {
    width: 20vw;
    max-width: 300px;
    text-align: center;
    min-width: 150px;
  }

  .attendee-label {
    width: 100%;
    font-size: 0.8rem;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .attendee-label-cb {
    width: 100%;
    max-width: 400px;
    min-width: 150px;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .attendee-label input,
  .attendee-label textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    min-width: 150px;
    text-align: left;
    color: grey;
  }

  .attendee-input {
    font-size: 0.8rem;
    width: 100%;
    height: 5rem;
    border: 0;
    text-align: left;
    display: block;
  }

  .success {
    font-family: "Montserrat", sans-serif;
    width: 30vw;
    height: 5vw;
    margin: 0.5rem 0;
    background-color: white;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .error-msg {
    color: red;
    font-size: 0.8rem;
    text-align: center;
    justify-self: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    margin: 0.5rem auto;
  }

  .submit-btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    word-break: keep-all;
  }
}
