.footer {
  background-color: #fefacb;
  margin-top: 3rem;
  overflow: hidden;
}
.credits {
  color: grey;
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  color: grey;
  width: 100%;
  max-width: 280px;
  text-align: center;
  margin: 0.2rem 0;
}

.footer-link a {
  margin: 0;
  font-size: 0.7rem;
  color: grey;
  text-decoration: underline;
  word-wrap: break-word;
  word-break: break-word;
  display: inline-block;
}

img.forest {
  display: block;
  width: 100%;
  margin-bottom: -4px;
}

@media only screen and (max-width: 767px) {
  .footer-link {
    max-width: 220px;
  }
}
